#welcome-text {
    text-align: center;
}
div.sect-container {
    display: inline-block;
    vertical-align: top;
}
#exp-container {
    width: 70%;
}
#reg-container {
    width: 25%;
}
#card-slider {
    border: 2px;
}
.card {
    display: inline;
}
.in-card {
    display: inherit;
}
p {
    font-style: italic;
}