<div class="container">
  <div class="row row-cols-3">
    {{#each dreams}}
    <div class="card col">
      <div class="card-body">
      <a href="/explore/dreams/{{this.oid}}">
        <h5>Título: {{this.title}}</h1>
        <h6>Resumen: {{this.abstract}}</h2>
      </a>
      </div>
    </div>
    {{/each}}
  </div>
</div>