<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/style/bootstrap.min.css">
  <link rel="stylesheet" href="/style/main.css">
</head>
<body>
  <nav>
    <ul class="navbar">
      {{#if user}}
      <li class="navbar"><a href="/home" class="navbar">Home</a></li>
      <li class="navbar"><a href="/explore" class="navbar">Buscar</a></li>
      <li class="navbar"><a href="/home" class="navbar">Agregar Sue침o</a></li>
      <li class="navbar"><a href="/home/dreams?author={{user.username}}" class="navbar">Mis sue침os</a></li>
      <li class="navbar"><a href="/home/profile" class="navbar">Perfil</a></li>
      <li class="navbar"><a href="/passport/logout" class="navbar">Cerrar Sesi칩n</a></li>
      {{else}}
      <li class="navbar"><a href="/explore" class="navbar">Buscar</a></li>
      <li class="navbar"><a href="/" class="navbar">Iniciar Sesi칩n</a></li>
      {{/if}}
    </ul>
  </nav>
  {{{body}}}
  <footer>Footer</footer>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>
</body>
</html>