<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/style/main.css">
</head>
<body>
  <nav>
    <ul class="navbar">
      {{#if user}}
      <li class="navbar"><a href="/home" class="navbar">Home</a></li>
      <li class="navbar"><a href="/explore" class="navbar">Buscar</a></li>
      <li class="navbar"><a href="/home" class="navbar">Agregar Sue침o</a></li>
      <li class="navbar"><a href="/home/dreams?author={{user.username}}" class="navbar">Mis sue침os</a></li>
      <li class="navbar"><a href="/home/profile" class="navbar">Perfil</a></li>
      <li class="navbar"><a href="/passport/logout" class="navbar">Cerrar Sesi칩n</a></li>
      {{else}}
      <li class="navbar"><a href="/explore" class="navbar">Buscar</a></li>
      <li class="navbar"><a href="/" class="navbar">Iniciar Sesi칩n</a></li>
      {{/if}}
    </ul>
  </nav>
  {{{body}}}
  <footer>Footer</footer>
</body>
</html>