#welcome-text {
    text-align: center;
}
div.sect-container {
    display: inline-block;
    vertical-align: top;
}
#exp-container {
    width: 70%;
    margin-left: 4%;
}
#reg-container {
    width: 20%;
    margin-right: 4%;
}
#card-slider {
    border: 2px;
}
.card {
    display: inline;
}
.in-card {
    display: inherit;
}
p {
    font-style: italic;
}